<div layout="row">
    <!--#region fpaz: Area de Carga de datos de info general de Tipos de Habitaciones-->
    <div flex="grow">
        <md-card>
            <md-card-header>                
                <md-card-header-text>
                    <span class="md-title">Tipos de Habitaciones</span>                    
                </md-card-header-text>
            </md-card-header>
            <div class="card-divider"></div>
            <md-card-content layout="row" layout-align="space-between">
                <div flex="grow">
                    <md-content>
                        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>                            
                            <md-tab label="+" md-on-select="addTabTipoHab()"></md-tab>
                            <md-tab ng-repeat="th in listTiposHab"
                                    ng-disabled="th.disabled"
                                    label="{{th.Nombre}}"
                                    md-on-select="obtenerInfoTipoHab(th)">
                                <md-content class="md-padding">
                                    <div class="p tab{{$index%4}}">
                                        <md-tab-body>
                                            <div layout="row" flex>
                                                <!--#region Menu de Tipo de Habitacion Seleccionada-->
                                                <div flex="20">
                                                    <div class="panel panel-card">
                                                        <div class="list-group no-radius no-border">
                                                            <a class="list-group-item" ui-sref="tipoHab.lista.info({tipoHabId: th.Id})">
                                                                Informacion General
                                                            </a>
                                                            <a class="list-group-item" ui-sref="tipoHab.lista.habitaciones({tipoHabId: th.Id})">
                                                                Listado de Habitaciones
                                                            </a>
                                                            <a class="list-group-item" ui-sref="tipoHab.lista.imagenes({tipoHabId: th.Id})">
                                                                Listado de Imagenes
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--#endregion-->
                                                <div flex="5"></div>
                                                <div flex="75">
                                                    <!--#region Info Gral de la Habitacion Seleccionada -->
                                                    <div ui-view="info"></div>
                                                    <!--#endregion-->
                                                    <!--#region Info Gral de la Habitacion Seleccionada -->
                                                    <div ui-view="habitaciones"></div>
                                                    <!--#endregion-->
                                                    <!--#region Info Gral de la Habitacion Seleccionada -->
                                                    <div ui-view="imagenes"></div>
                                                    <!--#endregion-->
                                                </div>
                                            </div>
                                        </md-tab-body>
                                    </div>
                                </md-content>
                            </md-tab>                            
                        </md-tabs>
                    </md-content>                        
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!--#endregion-->
</div>




