<div class="row row-sm">
    <!--#region fpaz: Area de Carga de datos de info general de Tipos de Habitaciones-->
    <div class="col-sm-7">
        <div class="panel panel-card">
            <div layout="row" layout-align="center center" flex>
                <div flex="80">
                    <h4>Tipos de Habitaciones</h4>
                    <div class="profile-content">
                        <md-tabs md-selected="selectedIndex" flex>
                            <md-tab ng-repeat="tab in tabs"
                                    ng-disabled="tab.disabled"
                                    label="{{tab.title}}">
                                <div class="b-t" flex>
                                    <div class="p tab{{$index%4}}" layout="column" layout-align="space-around center">                                        
                                        <md-tab-body>
                                            <!--#region datos del tipo de habitacion-->
                                            <form class="form-horizontal">
                                                <div layout="row">
                                                    <div flex="grow">
                                                        <md-input-container>
                                                            <label>Nombre de la Oferta</label>
                                                            <input class="form-control md-input" ng-model="oferta.Nombre" required>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div layout="row">
                                                    <div flex="100">
                                                        <md-input-container>
                                                            <!--<label>Lugar</label>-->
                                                            <input class="md-input" type="text" ng-autocomplete ng-model="oferta.Lugar" options="options1" details="details1" />
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <md-input-container class="md-block autoScroll">
                                                    <label>Descripcion</label>
                                                    <textarea ng-model="oferta.Descripcion" columns="1" md-maxlength="150"></textarea>
                                                </md-input-container>
                                            </form>
                                        </md-tab-body>
                                    </div>
                                </div>                                
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
    <!--#region fpaz: listado Habitaciones Cargadas por Tipo de Habitaciones-->
    
    <!--#endregion-->

    <!--#region fpaz: menu flotante-->
    <div layout="row" layout-align="star center">
        <!--<div flex="60"><h2>Agrega puestos en la oferta</h2></div>
        <div flex="30"><md-button class="md-fab " aria-label="PuestosAdd" ng-click="AbrirParaAgregar()"><i class="fa fa-plus"></i></md-button> </div>-->

        <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
             active-icon="mdi-content-clear" resting-icon="mdi-content-add"
             toggling-method="hover">
            <button mfb-button icon="mdi-social-person-add" label="Agregar Tipo de Habitacion" ng-click="addTabTipoHab()"></button>
            <button mfb-button icon="mdi-image-edit" label="Editar Tipo de Habitacion"></button>
            <button mfb-button icon="mdi-content-save" label="Guardar Cambios" ng-click="addTipoHabitacion(infoTipoHab)"></button>
            <button mfb-button icon="mdi-action-delete" label="Eliminar Tipo de Habitacion"></button>
        </nav>
    </div>
    <!--#endregion-->
</div>
