<div layout="column" class="relative" layout-fill role="main" style="position:relative">
    <!--#region Boton flotante-->
    <div layout="row" layout-align="star center">
        <nav mfb-menu position="br" effect="zoomin" label="Herramientas"
             active-icon="mdi-content-clear" resting-icon="mdi-content-add"
             toggling-method="hover">
            <button mfb-button icon="mdi-image-edit" label="Editar Datos"></button>
            <button mfb-button icon="mdi-content-save" label="Guardar Cambios" ng-click="save(infoHotel)"></button>
            <button mfb-button icon="mdi-action-delete" label="Eliminar cambios"></button>
        </nav>
    </div>
    <!--#endregion-->
    <!--#region Panel de resultados-->
    <md-content style="background-color:#eee" flex>

        <div layout="row" layout-fill layout-padding>
            <!-- #region Panel izquierdo -->
            <div flex="30">
                <div layout="column" layout-align="center center" class="md-whiteframe-z3">
                    <md-button class="inline-block animate-show" layout="row" flex>
                        <div class="md-media-xl card-media rounded">
                            <!--iafar:Aqui se puede poner una imagen-->
                            <ng-md-icon icon="location_city" style="fill: #abcdef" size="200"></ng-md-icon>
                        </div>
                    </md-button>
                    <md-divider></md-divider>

                    <span class="md-headline" ng-show='!infoHotel.Nombre'>Mi Hotel</span>
                    <span class="md-headline">{{infoHotel.Nombre}} </span>
                    <span class="md-subhead">{{infoHotel.TipoHotel.Nombre}} </span>
                    <div layout="row" flex layout-align="star center" ng-hide='infoHotel.TipoHotel.Nombre != "Hotel"'>
                        <input-stars max="5" ng-model="infoHotel.Categoria.CantEstrellas"></input-stars>
                    </div>
                    <br ng-hide='infoHotel.TipoHotel.Nombre == "Hotel"' />
                </div>
                <div layout="row" class="md-whiteframe-z2" layout-align="center center" style="background-color:mediumturquoise">
                    <hr />
                    <a href="#" class="btn btn-round">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="btn btn-round">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="btn btn-round">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-social btn-linkedin">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <hr />
                </div><!--USER WRAPPER SECTION END-->
            </div>
            <!-- #endregion -->
            <!-- #region Panel derecho -->
            <md-card flex>
                <md-toolbar>
                    <md-tabs md-stretch-tabs md-selected="data.selectedIndex">
                        <md-tab id="tab1" estado="PENDIENTE" aria-controls="tab1-content" clickcatcher>
                            Datos Basicos
                        </md-tab>
                        <md-tab id="tab2" estado="PUBLICADA" aria-controls="tab2-content" clickcatcher>
                            Galeria de Imagenes
                        </md-tab>
                    </md-tabs>
                </md-toolbar>
                <!--#region Datos del Hotel-->
                <!--#endregion-->
                <ui-view layout="column" layout-fill layout-padding>
                    <div class="inset" hide-sm></div>
                    <ng-switch on="data.selectedIndex" class="tabpanel-container">
                        <div role="tabpanel"
                             id="tab1-content"
                             aria-labelledby="tab1"
                             ng-switch-when="0"
                             md-swipe-left="next()"
                             md-swipe-right="previous()"
                             layout="row" layout-align="center center">
                            <div flex-gt-sm="90" flex-gt-md="80">
                                <md-content layout="row">
                                    <div flex="5">
                                        <ng-md-icon icon="create" size="35" style="fill:green; align-items:center"></ng-md-icon>
                                    </div>
                                    <md-input-container flex="60">
                                        <label>Nombre</label>
                                        <input type="text" ng-model="infoHotel.Nombre" placeholder="Ingrese el nombre de su hotel">
                                    </md-input-container>     <!--placeholder="Ingrese el nombre de su hotel"-->
                                    <!--<div flex="5"></div>-->
                                    <md-input-container flex>
                                        <label>Tipo de hotel</label>
                                        <md-select ng-model="infoHotel.TipoHotel" ng-model-options="{trackBy: '$value.Id'}">
                                            <md-option ng-value="tipoHotel" ng-repeat="tipoHotel in listTiposHoteles" style="min-width: 200px;">{{tipoHotel.Nombre}}</md-option>
                                        </md-select>
                                    </md-input-container>

                                </md-content>
                                <div layout="row">
                                    <div flex="5">
                                        <ng-md-icon icon="place" size="35" style="fill:#000000"></ng-md-icon>
                                    </div>
                                   
                                    <md-input-container flex>
                                        <label>Ubicacion</label>
                                        <input class="md-input" type="text" placeholder="Ingrese una ubicacion" ng-autocomplete ng-model="infoHotel.DireccionComun" options="options1" details="details1" />
                                    </md-input-container>

                                </div>
                                <div layout="row">
                                    <md-input-container layout="row" layout-align="center end" flex="50">
                                        <ng-md-icon icon="local_post_office" size="35" style="fill:darkblue"></ng-md-icon>
                                        <div flex>
                                            <label>Codigo Postal</label>
                                            <input type="text" ng-model="infoHotel.CodPostal" placeholder="4200">
                                        </div>
                                    </md-input-container>
                                    <md-input-container layout="row" layout-align="center end" flex="grow">
                                        <ng-md-icon icon="local_phone" size="35" style="fill:darkblue"></ng-md-icon>
                                        <div flex>
                                            <label>Telefono</label>
                                            <input type="text" ng-model="infoHotel.Telefono" placeholder="(0385) 4 999999">
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-content>
                                    <md-input-container layout="row" layout-align="center end" flex="30">
                                        <ng-md-icon icon="email" size="35" style="fill:#808080"></ng-md-icon>
                                        <div flex>
                                            <label>Correo electronico</label>
                                            <input ng-model="infoHotel.Mail" type="email" placeholder="Email (requerido)" ng-required="true">
                                        </div>
                                    </md-input-container>
                                    <md-input-container layout="row" layout-align="center end" flex="30">
                                        <ng-md-icon icon="language" size="35" style="fill:#808080"></ng-md-icon>
                                        <div flex>
                                            <label>Web</label>
                                            <input type="text" ng-model="infoHotel.UrlWeb" placeholder="www.SumaqHotels.com.ar">
                                        </div>
                                    </md-input-container>
                                </md-content>
                            </div>

                        </div>
                        <!--#endregion-->
                        <!--#region panel Ofertas Publicadas-->
                        <div role="tabpanel"
                             id="tab2-content"
                             aria-labelledby="tab2"
                             ng-switch-when="1"
                             md-swipe-left="next()"
                             md-swipe-right="previous()"
                             layout="row" layout-align="center center">
                            <div flex-gt-sm="90" flex-gt-md="80">


                                <!--#region carousel -->
                                <div set-ng-animate="false">

                                    index : <input type="number" class="tiny" ng-model="carouselIndex">
                                    <ul rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-buffered class="carousel1">
                                        <li ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">
                                            <div ng-style="{'background-image': 'url(' + slide.img + ')'}" class="bgimage">
                                                #{{ slide.id }}
                                            </div>
                                        </li>
                                    </ul>

                                    <ul rn-carousel class="image">
                                        <li ng-repeat="image in sportImages">
                                            <div class="layer">{{ image }}</div>
                                        </li>
                                    </ul>
                                    <!--<carousel interval="myInterval">
                                        <slide ng-repeat="slide in slides">
                                            <img ng-src="{{slide.image}}" class="img-full">
                                            <div class="carousel-caption">
                                                <h4>Slide {{$index}}</h4>
                                                <p>{{slide.text}}</p>
                                            </div>
                                        </slide>
                                    </carousel>
                                    <div class="panel-footer">
                                        <button type="button" class="btn btn-default m-r">Add Slide</button>
                                        Interval: <input type="number" class="form-control w-auto inline" ng-model="myInterval"> ms
                                    </div>-->
                                </div>
                                <!-- #endregion-->


                            </div>

                        </div>
                        <!--#endregion-->

                    </ng-switch>
                </ui-view>







            </md-card>
            <!-- #endregion -->

        </div>
    </md-content>
    <!--#endregion-->
</div>


