<form id="f" style="padding:20px;">
    <h1>New Reservation</h1>
    <div>Name: </div>
    <div><input type="text" id="name" name="name" value="" /></div>
    <div>Start:</div>
    <div><input type="text" id="start" name="start" value="<?php echo $start ?>" /></div>
    <div>End:</div>
    <div><input type="text" id="end" name="end" value="<?php echo $end ?>" /></div>
    <div>Room:</div>
    <div>
        <select id="room" name="room">
           
        </select>

    </div>
    <div class="space"><input type="submit" value="Save" /> <a href="javascript:close();">Cancel</a></div>
</form>