<div layout="column" class="relative" layout-fill role="main" style="position:relative">
    <!--#region Boton flotante-->
    <md-button class="mmd-btn md-fab md-fab-bottom-right pos-fix teal" aria-label="Plus" ui-sref="pasajeros.add">
        <i class="mdi-content-add"></i>
    </md-button>
    <!--#endregion-->
    <!--#region tabs de vista-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                Pasajeros Registrados
            </h3>
            <span flex></span>
        </div>
        <!--<md-tabs md-stretch-tabs md-selected="data.selectedIndex">
            <md-tab id="tab1" estado="PENDIENTE" aria-controls="tab1-content" clickcatcher>
                Pendientes
            </md-tab>
            <md-tab id="tab2" estado="PUBLICADA" aria-controls="tab2-content" clickcatcher>
                Publicada
            </md-tab>

            <md-tab id="tab3" estado="CURSO" aria-controls="tab3-content" clickcatcher>
                En Curso
            </md-tab>
            <md-tab id="tab4" estado="FINALIZADA" aria-controls="tab4-content" clickcatcher>
                Terminadas
            </md-tab>

        </md-tabs>-->
    </md-toolbar>
    <!--#endregion-->
    <!--#region Panel de resultados-->
    <md-content style="background-color:#eee" flex>
        <ui-view layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm></div>
            <div flex-gt-sm="90" flex-gt-md="80">
                <md-card>
                    <br />
                    <div class="md-toolbar-tools" flex>
                        <span flex="5"></span>
                        <md-input-container flex>
                            <label class="md-title">Buscar</label>
                            <input ng-model="searchText">
                        </md-input-container>
                        <ng-md-icon icon="search"></ng-md-icon>
                    </div>
                    <br />
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="pasajero in pasajeros | filter:searchText">
                            <!--ofertaFilter:search:estado-->
                            <!--<md-list-item class="md-3-line" ng-repeat="oferta in ofertas | ofertaFilter:search:estado">-->
                            <md-button class="inline-block animate-show" layout="row" ng-click="prueba(oferta.Nombre)" flex>
                                <div layout="row" layout-fill>
                                    <div flex="15" class="md-whiteframe-z3">
                                        <ng-md-icon icon="location_history" style="fill: #0026ff" size="50" flex="10"></ng-md-icon>
                                        <h5>{{pasajero.NomApe}}</h5>
                                        <h6>Sexo:{{pasajero.Sexo}}</h6>
                                        <h6>Estado Civil:{{pasajero.ECivil}}</h6>
                                    </div>
                                    <div flex="85" class="bg-primary" layout-align="center" layout-padding>
                                        <!--class="md-list-item-text text-left top-left "-->
                                        <p class="md-body-2">{{pasajero.TipoDoc}}: {{pasajero.NumDoc}}</p>
                                        <p class="md-body-1">Direccion: {{pasajero.Dir}}</p>
                                        <p class="md-body-1">Tel/Cel:{{pasajero.Tel}}-{{pasajero.Cel}}</p>
                                        <p class="md-body-1">EMail:{{pasajero.EMail}}</p>
                                    </div>
                                </div>

                                <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                            </md-button>
                        </md-list-item>
                        <div class="text-center text-accent animate-show" ng-show="(pasajeros | filter:searchText).length == 0">
                            <h4>No se encontraron resultados</h4>
                        </div>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-button class="md-primary">

                                <span>More</span>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
        </ui-view>
    </md-content>
    <!--#endregion-->
</div>


